:root{
    --primary-color: #00A19D;
    --button-color: #E05D5D;
}

.navbar{
    background-color: var(--primary-color);
    z-index: 999!important;
}
.navbar-brand{
    font-weight: bold;
}
.carousel-item>img{
    height: 650px;
}
.about-container,.news-container,.donate-container,.contact-container,.meet-container{
    margin-top: 20px;
}
.about-wrapper,.donate-wrapper{
    background-color: var(--primary-color);
}
.inner-news-container,.inner-meet-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.news-container>#carouselExampleSlidesOnly,.meet-container>#carouselExampleSlidesOnly{
    margin-top: 50px;
}
.inner-news-container>.card,.inner-meet-container>.card{
    margin-top: 20px;
}
.card-body>div{
    display: flex;
    color: var(--primary-color);
}
.about-outer-container{
    background-color: var(--primary-color);
    margin-top: 50px;
}
.about-outer-wrapper{
    display: flex;
    background-color: var(--primary-color);
}
.about-wrapper{
    padding-top: 10px;
    width: 60%;
    padding-left: -50px;
}
.about-container{
    padding-right: 20px;
    color: white;
}
.about-container>p{
    text-align: justify;
}
.about-container>p>a{
    text-decoration: none;
    color: white;
}
.about-container>p>a:hover{
    color:orangered;
}

.card-body>div>p>a{
    color: var(--primary-color);
    margin-right: 15px;
    text-decoration: none;
}
.donate-container{
    display: flex;
}
.inner-devider{
    width: 50%;
    padding-top: 10px;
    color: white;
 
}
figure{
    margin:auto;
    color: white;
}
.contact-container{
    margin-bottom: 50px;
}
.contact-wrapper{
    display: flex;
}
.contact-wrapper>iframe{
    width: 70%;
}
form>.row>div>button{
    background-color: var(--button-color);
    border: none;
    color: white;
}

footer {
    position: relative;
    padding: 50px 0px 0px;
    background: #212121; }
    @media screen and (max-width: 767.98px) {
      footer {
        padding: 20px 0 0; } }
    footer .copy-right {
      padding: 20px 0px;
      border-top: solid 1px #dfdfdf;
      font-size: 14px;
      color: #84878a;
      text-align: center; }
      footer .copy-right p a {
        color: #fd580b;
        padding-left: 10px;
        font-weight: bold; }
    footer .footer-content {
      margin: 20px 0px;
      display: block;
      width: 100%;
      color: #84878a; }
      footer .footer-content p {
        font-size: 16px;
        padding: 10px 0px;
        line-height: 27px;
        margin: 0px; }
      footer .footer-content ul li {
        display: inline-block;
        height: 30px;
        width: 30px;
        background: var(--button-color);
        color: #fff;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        margin: 5px 3px 0px 0px; }
      footer .footer-content ol li {
          list-style-type: none;
        padding: 10px 0px;
        position: relative; }
        footer .footer-content ol li a {
            text-decoration: none;
          color: #84878a;
          font-size: 16px; }
          footer .footer-content ol li a i {
            padding-right: 10px;
            color: var(--button-color); }
      footer .footer-content h2 {
        font-size: 20px;
        position: relative;
        padding: 5px 0px;
        font-weight: 600;
        color: #fff; }
      footer .footer-content .form-group {
        position: relative; }
        footer .footer-content .form-group .form-control {
          height: 40px;
          padding-right: 40px;
          text-overflow: ellipsis; }
        footer .footer-content .form-group i {
          position: absolute;
          height: 40px;
          width: 40px;
          line-height: 40px;
          color: #fff;
          background: #fd580b;
          text-align: center;
          top: 0;
          right: 0; }
  

@media only screen and (max-width: 767px) {
    .inner-news-container,.inner-meet-container{
        display: none;
    }
    .about-outer-wrapper{
        display: block;
    }
    .about-wrapper{
        width: 100%;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .about-outer-wrapper>img{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .about-outer-container{
        padding-bottom: 10px;
    }
    .donate-container{
        display: block;
    }
    figure{
        display: none;
    }
    .inner-devider{
        width: 100%;
    }
    .contact-wrapper{
        display: block;
    }
    .contact-wrapper>iframe{
        width: 100%;
        height: auto;
    }
    
}

@media only screen and (min-width: 767px) {
    .news-container>#carouselExampleSlidesOnly,.meet-container>#carouselExampleSlidesOnly{
        display: none;
    }
}